/target/
!server/.mvn/wrapper/maven-wrapper.jar

submission*

### MVN ###
server/mvnw
server/mvnw.cmd
server/.mvn

### STS ###
server/.apt_generated
server/.classpath
server/.factorypath
server/.project
server/.settings
server/.springBeans
server/.sts4-cache

### IntelliJ IDEA ###
server/.idea
server/*.iws
server/*.iml
server/*.ipr
server/target

client/node_modules
client/.idea

